:root {
  --black: #000000;
  --grey: #75737353;
  --white: #ffffff;
  --primary: #28cb8b;
  --primary-2: #237d31;
  --primary-3: #a7e4ac;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--white);
}
.nav-links {
  display: flex;
  gap: 24px;
}
