* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.section {
  background-color: green;
  border-radius: black 1px solid;
}
.container {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.section:nth-of-type(1) {
  color: red;
  grid-column: 1/5;
}
.section:nth-of-type(2) {
  color: yellow;
  grid-column: 1/2;
  grid-row: 2/4;
}
.section:nth-of-type(5) {
  grid-column: 4;
  grid-row: 2/4;
}
.section:nth-of-type(8) {
  color: white;
  grid-column: 1/5;
}
.navigation {
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .section:nth-of-type(1) {
    color: purple;
    grid-column: 1;
  }
  .section:nth-of-type(2) {
    color: yellow;
    grid-column: 1;
    grid-row: 2;
  }
  .section:nth-of-type(5) {
    grid-column: 1;
    grid-row: 5;
  }
  .section:nth-of-type(8) {
    color: white;
    grid-column: 1;
    grid-row: 8;
  }
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.parent-container {
  max-width: 320px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.item {
  border: 1px dashed red;
}
.item:nth-of-type(5) {
  color: red;
}
.item:nth-of-type(20) {
  color: purple;
  background-color: aqua;
}
