* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.grid-container {
  max-width: 1100px;
  margin: 30px auto;
  background-color: green;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
}
.item {
  background-color: coral;
  padding: 2rem;
  border: 1px solid black;
  text-align: center;
}
.item1 {
  grid-column: 1/4;
}
.item6 {
  grid-row: 3/5;
  grid-column: 2/3;
}
.item5 {
  grid-row: 3/5;
}
.item7 {
}
