* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.fa-times {
  color: red;
}
.container {
  background-color: red;
  padding: 12px;
  border: 2px solid purple;
  position: sticky;
  top: 0;
}
.container2 {
  background-color: yellow;
  margin: 12px;
  border: 2px solid purple;
  padding: 12px;
}
.container3 {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(101, 253, 29, 0.8661589635854342) 75%,
    rgba(252, 176, 69, 1) 100%
  );
  height: 128px;
  padding: 12px;
  box-shadow: -1px -3px 4px 1px rgba(46, 212, 121, 0.578);
}

div {
  width: 33%;
  margin: 12px;
}
