* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.fa-times {
  color: red;
}
.container {
  background-color: red;
  padding: 12px;
  border: 2px solid purple;
}
.container2 {
  background-color: yellow;
  margin: 12px;
  border: 2px solid purple;
}
.container3 {
  background-color: green;
}
body {
  display: flex;
}
div {
  width: 33%;
  margin: 12px;
}
